*.ipynb
.ipynb_checkpoints
*__pycache__*
/utils/__pycache__
Trained_Models
Inference
Generations
old_files
other_results
kube_cfg
data
config/CA_config.json
config/GlueX_config_original.json
config/GlueX_config_real.json
config/GlueX_config_copy.json
simulate_GlueX.py
Simulation